.board {
  width: 900px;
  height: 900px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 800px;
  height: 800px;
  border: 1px solid;
}

.board-cell {
  width: 100px;
  height: 100px;
}

.board-cell-light {
  background-color: #edebd1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-cell-dark {
  background-color: #799357;
  display: flex;
  align-items: center;
  justify-content: center;
}
